/* General Styles */
#custom-style {
  background-color: rgb(0, 121, 191);
  font-family: Arial, Helvetica, sans-serif;
  color: #fafafa;
  height: 100vh;
  width: auto;
}

/* Header Styles */
.bg-custom {
  background-color: rgba(0, 0, 0, .15);
}
/* Base Button */
.btn-custom {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  color: #fafafa;
}
/* Buttons */
.btn-tabs {
  width: 99.31px;
  height: 32px;
  display: block;
  float: left;
}

#header-text {
  font-size: 14px;
  font-weight: 700;
  display: inherit;
  float: left;
}

.search-box {
  width: 180px;
  height: 32px;
  border: none;
  float: left;
  border-radius: 3px;
}

.search-btn {
  height: 32px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 0%;
}

.small-header-btn {
  height: 32px;
  width: 32px;
}

.user-btn {
  border-radius: 50%;
}

.col-md {
  flex-basis: 0px;
}

/* Navbar Styles */
.mainBoard {
  color: #fafafa;
  font-size: 18px;
  font-weight: 700;
}

.navbar-divider {
  border-left: 1px solid #bebebe;
}